<div class="view-news-wrapper container">
	<div class="flex flex-col md:flex-row items-center justify-between mb-6">
		<h2 class="text-[#3A3A3A] text-lg font-bold">Tin tức mới</h2>
		<a href="/tin-tuc" class="text-blue-600 hover:underline">Xem thêm -></a>
	</div>
	<div class="flex flex-col lg:flex-row gap-6">
		<div class="news-featured w-1/2 p-[10px]">
			{{ rows }}
		</div>
		<div class="news-list w-1/2">
			{{ tin_tuc_phu }}
		</div>
	</div>

</div>
