{# themes/custom_theme/templates/views/views-view-fields--quang-cao--block-4.html.twig #}
<div class="item-quangcao">
  {% if fields.field_anh %}
    <div class="item-image">
      {{ fields.field_anh.content }}
    </div>
  {% endif %}
</div>