{# themes/custom_theme/templates/form--contact-message-form-ung-tuyen-form.html.twig #}
<div style="border: 3px solid red; padding: 12px; margin: 12px 0;">
  ✅ Template override thành công (form--contact-message-form-ung-tuyen-form.html.twig)
</div>

<form{{ attributes.addClass('custom-ung-tuyen-form') }}>
  {{ children }}
</form>
